<div #rendererContainer class="space"></div>
<div class="content">
  <span class="content_title">Quizar</span>
  <div class="content_description">
    <p class="content_description__text">Welcome to application for constructing and playing the quiz-games <br>
      Create and participate in quizzes on any topic you can imagine. Challenge your friends, learn something new, and have fun!</p>
  </div>
  @if (loggedIn()) {
    <button matButton="outlined" routerLink="/lobby">Go to lobby</button>
  }
</div>
