<h2 mat-dialog-title>Sign in</h2>
<mat-dialog-content class="dialog-content">
  @if (formSubmitted && isFormInalid()) {
    <mat-error>Email or password is incorrect!</mat-error>
  } @else if (authError()) {
  <mat-error>{{authError()}}</mat-error>
}
  <form [formGroup]="signInForm" class="dialog-form">
    <mat-form-field class="dialog-form-field">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email">
      <mat-hint>Enter email here</mat-hint>
      @if (email?.hasError('email')) {
        <mat-error>Please enter a valid email address</mat-error>
      }
      @if (email?.hasError('required')) {
        <mat-error>Email is <strong>required</strong></mat-error>
      }
    </mat-form-field>

    <mat-form-field class="dialog-form-field">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-hint>Enter password longer 6 symbols</mat-hint>
      @if (password?.hasError('minlength')) {
        <mat-error>The password should be longer 6 symbols</mat-error>
      }
      @if (password?.hasError('required')) {
        <mat-error>Password is <strong>required</strong></mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
  <button matButton="outlined" (click)="signIn()">Sign In</button>
  <asl-google-signin-button type='standard' shape="circle" theme="filled_blue" size='medium'></asl-google-signin-button>
  <mat-divider></mat-divider>
  <p>If you don't have an account yet:</p>
  <button matButton="outlined" (click)="signUp()">Sign Up</button>
</mat-dialog-actions>
