:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .dialog-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .dialog-form-field {
    display: block;
  }

  .dialog-actions {
    color: var(--mat-sys-secondary);
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .mat-divider {
      width: 100%;
    }
  }
}
