<div class="user-info">

  <input
    #flinpt
    type="file"
    accept="image/*"
    class="file-input"
    (change)="onFileSelected($event)">

  <app-avatar
    (click)="flinpt.click()"
    [size]="40"
    [user]="userInfo()"
    [editable]="true"/>

  <div class="info-block">
    <label>Email:</label>
    <p>{{userInfo()?.email}}</p>
  </div>

  <div class="info-block editable" (click)="enableEditName()">
    <label>Name:</label>
      @if(editName()) {
          <input class="editable__input" matInput maxlength="256" (submit)="changeName()" [formControl]="nameFormControl">

          <mat-icon
                  class="editable__icon-submit"
                  aria-hidden="false"
                  aria-label="edit icon"
                  fontIcon="check"
                  (click)="changeName()"/>
      } @else {
          <mat-icon class="editable__icon-edit" aria-hidden="false" aria-label="edit icon" fontIcon="edit"></mat-icon>
          <p>{{userInfo()?.name}}</p>
      }
  </div>
</div>

