:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 40px;
  color: var(--mat-sys-primary);

  .info-block {
    padding: 0 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  .editable {
    background: var(--mat-sys-surface-container);
    opacity: 1;

    &__input {
      padding: 16px 0;
      border-radius: 4px;
      background: var(--mat-sys-surface-container-highest);
      color: var(--mat-sys-tertiary);
      border: none;
      font-family: var(--mat-bottom-sheet-container-text-font, var(--mat-sys-body-large-font)), sans-serif;
      font-size: var(--mat-bottom-sheet-container-text-size, var(--mat-sys-body-large-size));
      line-height: var(--mat-bottom-sheet-container-text-line-height, var(--mat-sys-body-large-line-height));
      font-weight: var(--mat-bottom-sheet-container-text-weight, var(--mat-sys-body-large-weight));
    }

    &__icon-edit {
      cursor: pointer;
      display: none;
    }

    &__icon-submit:hover {
      cursor: pointer;
    }

    &:hover {
      opacity: 0.7;

      .editable__icon-edit {
        display: inline-block;
      }
    }
  }

  .file-input {
    display: none;
  }
}
