<div class="chapter">
  <p class="chapter_title">Folders</p>
  <mat-icon
    class="chapter__icon-add"
    aria-hidden="false"
    aria-label="add-folder icon"
    fontIcon="add"
    routerLink="folder/new"/>
    <app-table [dataArray]="folders()" (rowClick)="tableLink('folder', $event)"/>
</div>

<div class="chapter">
  <p class="chapter_title">Games</p>
  <mat-icon
    class="chapter__icon-add"
    aria-hidden="false"
    aria-label="add-game icon"
    fontIcon="add"
    routerLink="game/new"/>/>
    <app-table [dataArray]="games()" (rowClick)="tableLink('game', $event)"/>
</div>
