<div class="chapter">
  <p class="chapter_title">Folders</p>
  <mat-icon
    class="chapter__icon-add"
    aria-hidden="false"
    aria-label="add-folder icon"
    fontIcon="add"/>

  <div class="chapter-container">
    <app-table/>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>

<div class="chapter">
  <p class="chapter_title">Games</p>
  <mat-icon
    class="chapter__icon-add"
    aria-hidden="false"
    aria-label="add-game icon"
    fontIcon="add"/>
  <div class="chapter-container">
    <app-table/>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
