@if (!isLoggedIn()) {
  <button matButton="tonal" (click)="openDialog()">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle"></mat-icon>
    Sign In
  </button>
} @else {
  <button matButton="tonal" [matMenuTriggerFor]="userActions">{{username()}}</button>
  <mat-menu #userActions="matMenu">
    <ng-template matMenuContent>
    <button mat-menu-item (click)="signOut()">Sign out</button>
    <button mat-menu-item (click)="openUserDetails()">User details</button>
    </ng-template>
  </mat-menu>
}
